*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/laravel-app/node_modules
/laravel-app/public/build
/laravel-app/public/hot
/laravel-app/public/storage
/laravel-app/storage/*.key
/laravel-app/storage/pail
/laravel-app/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/fastapi-model/.venv
/fastapi-model/__pycache__